#preferences
  .preferences-hd
    height: 20px

.preference-item
  margin-bottom: 20px

.preferences-title
  border-bottom: 1px solid #C1C1C1
  margin-bottom: 20px

.general-container
  width: 700px
  margin: 0 auto
  .block-general
    padding: 15px 10px
    margin-top: 10px
