.preference-item
  margin-bottom: 20px

.preferences-hd
  border-bottom: 1px solid #E9E9E9
  margin-bottom: 20px
  .preferences-title
    width: 700px
    margin: 0 auto

.general-container
  width: 700px
  margin: 0 auto
  .block-general
    padding: 15px 10px
    margin-top: 10px
