.block-opml-upload
  background: #fff
  height: 300px
  width: 100%
  border: 1px solid #eee
  text-align: center
  padding-top: 130px


.opml-upload-container
  width: 700px
  margin: 0 auto


.opml-text-container
  width: 700px
  margin: 0 auto
  
