body
  margin: 0
  background: #fff
  font-family: "Roboto", "Helvetica", "Arial", sans-serif


.dialog
  .dialog-title
    background: #f0f0f0
    margin-bottom: 20px
    h2
      font-size: 18px
      color: #444
