body
  margin: 0
  background: #fff
  font-family: "Roboto", "Helvetica", "Arial", sans-serif


.dialog
  .dialog-title
    font-weight: bold

.form-control
  background: #f9f9f9
  padding: 10px 20px  16px 24px !important
  
