html
  height: 100%

body
  margin: 0
  background: #f1f1f1
  font-family: "Roboto", "Helvetica", "Arial", sans-serif
  height: 100%


.dialog
  .dialog-title
    font-weight: bold

.form-control
  background: #f9f9f9
  padding: 10px 20px  16px 24px !important
  

.preferences-hd
  border-bottom: 1px solid #E9E9E9
  margin-bottom: 20px
  position: fixed
  width: 100%
  z-index: 999
  background: #fafafa
  .preferences-title
    width: 700px
    margin: 0 auto

.preferences-bd
  padding-top: 90px
