.block-subscriptions
  width: 100%
  background: #595959
  height: 100%
  .block-hd
    height: 50px
    border-bottom: 1px solid rgba(72, 72, 72, 0.52)
  .block-bd
    height: 100%
    overflow-y: auto
    .category-title, .subscription-title
      h3
        color: #fff
        font-size: 0.8rem
        font-weight: 100
    .category-item
      padding: 5px
    .subscription-item
      padding: 5px
