.block-feeds
  width: 100%
  height: 100%
  background: #F9F8F4
  clear: both
  position: relative
  .block-hd
    height: 50px
    border-bottom: 1px solid rgba(199, 199, 199, 0.52)
  .block-bd
    .listing-feeds-blank
      border: 2px dashed #999
      border-radius: 5px
      position: absolute
      left: 0
      bottom: 0
      right: 0
      top: 0
      margin: 66px 15px 15px
